<h3>{{viewTitle}}</h3>

<form action="/product" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{product._id}}">
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{product.nombre}}">
        <div class="text-danger">
            {{product.nombreError}}</div>
    </div>
    <div class="form-group">
        <label>Categoria</label>
        <input type="text" class="form-control" name="categoria" placeholder="Categoria" value="{{product.categoria}}">
        <div class="text-danger">
            {{product.categoriaError}}</div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Marca</label>
            <input type="text" class="form-control" name="marca" placeholder="Marca" value="{{product.marca}}">
        </div>
        <div class="form-group col-md-6">
            <label>Precio</label>
            <input type="text" class="form-control" name="precio" placeholder="Precio" value="{{product.precio}}">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/product/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>